Repository aydarnuman/ProCheff-New, changes with the owners that CODEOWNERS names for each.
All owners: @procheff-core, @procheff-ui, @procheff-backend

📖 Add comprehensive Vercel deployment guides
  QUICK-DEPLOY.md
  VERCEL-DEPLOYMENT-GUIDE.md
Owners: @procheff-core

🔍 Implement OCR Fallback Pipeline - PMYO PDF Problem SOLVED
  .gitignore
  package-lock.json
  package.json
  src/app/api/pipeline/pdf-to-offer/enhanced-route.ts
  src/lib/ocr/fallback-service.ts
Owners: @procheff-core, @procheff-backend

Fix OCR timeout: Switch to quick-fallback PDF processing without OCR to prevent JSON parsing errors
  OCR-IMPLEMENTATION-SUCCESS.md
  src/app/api/pipeline/pdf-to-offer/enhanced-route.ts
  src/lib/ocr/quick-fallback.ts
Owners: @procheff-core, @procheff-backend

Fix: Replace route.ts with enhanced-route.ts for OCR-free PDF processing
  src/app/api/pipeline/pdf-to-offer/route.ts
Owners: @procheff-backend

MINIMAL ROUTE: Simple test route to debug JSON parsing issues
  logs/pdf-analysis.log
  src/app/api/pipeline/pdf-to-offer/route-complex.ts
  src/app/api/pipeline/pdf-to-offer/route-minimal.ts
  test-upload.sh
  test.pdf
Owners: @procheff-core, @procheff-backend

🚨 EMERGENCY FIX: Remove GitHub Pages redirect from 404.html causing API routing issues
  public/404.html
  public/404.html.backup
Owners: @procheff-core

DEBUG: Step-by-step PDF upload test - detailed logging for each stage
  src/app/api/pipeline/pdf-to-offer/route.ts
Owners: @procheff-backend

✅ SUCCESS: PDF text extraction working with alternative method
  package-lock.json
  package.json
  public/404.html
  src/app/api/pipeline/pdf-to-offer/route.ts
  valid_test.pdf
Owners: @procheff-core, @procheff-backend

ci: add OCR CI workflow, cloud OCR fallback, and test harness
  .env.example
  .github/workflows/ocr-ci.yml
  Dockerfile
  docs/OCR_SPACE.md
  logs/pdf-analysis.log
  package-lock.json
  package.json
  scripts/extract-sample.js
  src/app/api/offers/route.ts
  src/app/api/pipeline/pdf-to-offer/enhanced-route.ts
  src/app/api/pipeline/pdf-to-offer/production-route.ts
  src/app/api/pipeline/pdf-to-offer/route-backup.ts
  src/app/api/pipeline/pdf-to-offer/route-complex.ts
  src/app/api/pipeline/pdf-to-offer/route-fixed.ts
  src/app/api/pipeline/pdf-to-offer/route-old.ts
  src/app/api/pipeline/pdf-to-offer/route.ts
  src/app/api/tenders/route.ts
  src/lib/core/observability.ts
  src/lib/middleware/index.ts
  src/lib/ocr/auto-text-converter.ts
  tsconfig.tsbuildinfo
Owners: @procheff-core, @procheff-backend

ci: debug OCR CI workspace paths and retry sample
  .github/workflows/ocr-ci.yml
Owners: @procheff-core

ci: add local OCR helper + artifact upload
  .github/workflows/ocr-ci.yml
  scripts/ci-local-ocr.sh
Owners: @procheff-core

Checkpoint from VS Code for coding agent session
  catering-sartname.txt
  menu.html
  simple-menu.txt
  test-api-direct.js
Owners: @procheff-core

Add files via upload
  TEKNİK_ŞARTNAME-10.09.2025.doc
Owners: @procheff-core

CODEOWNERS:

# Takım sahiplikleri ve gözden geçirme kuralları
# Geçici kullanıcı adları: lütfen kendi org kullanıcılarınız ile güncelleyin.

# Varsayılan sahipler
*       @procheff-core

# UI
src/app/ihale/     @procheff-ui
src/components/    @procheff-ui

# Backend / API
src/app/api/       @procheff-backend
src/lib/ingest/    @procheff-backend

# Ortak kütüphane
src/lib/           @procheff-core
